.carousel {
  position: relative;
  width: 100%;
  height: 430px;
  overflow: hidden;
  background-color: #fff;
  padding: 15px;
}

.carousel-slides {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
  z-index: 1;
}

.carousel-dots {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
  z-index: 3;
  align-items: center;
}

.carousel-dots .dot {
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s, border 0.3s, transform 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-dots .dot.active {
  width: 15px;
  height: 15px;
  background-color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
}

.carousel-content {
  position: absolute;
  top: 50%;
  left: 6.5rem;
  transform: translateY(-50%);
  text-align: left;
  z-index: 2;
  opacity: 0;
}

.carousel-content.active {
  opacity: 1;
}

.carousel-content h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 61.44px;
  color: #000;
  margin-bottom: 20px;
  transform: translateY(-50px);
  opacity: 0;
  animation: slide-down-text 1s ease forwards;
}

.carousel-content p {
  width: 454px;
  height: auto;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  transform: translateY(-50px);
  opacity: 0;
  animation: slide-down-text 1.2s ease forwards;
}

.carousel-content p span {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
  margin-top: 10px;
  transform: translateY(-50px);
  opacity: 0;
  animation: slide-down-text-price 1.4s ease forwards;
  animation-delay: 0.8s;
}

.carousel-btn {
  padding: 15px 30px;
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transform: translateY(50px);
  opacity: 0;
  animation: slide-up-btn 1.6s ease forwards;
}

@keyframes slide-down-text {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-down-text-price {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-up-btn {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .carousel-content {
    left: 2rem;
    width: 90%;
  }

  .carousel-content h2 {
    font-size: 36px;
    line-height: 48px;
  }

  .carousel-content p {
    font-size: 16px;
  }

  .carousel-btn {
    font-size: 0.9rem;
    padding: 12px 24px;
  }
}
